:root {
    --main-bg: white;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 200;
}

/* body { */
    /* background: var(--main-bg);
    text-align: center;
}

header {
    margin: 100px auto 35px auto;
}

#register-img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.text {
    text-align: center;
    margin: 0 20% 0 20%;
}


.text-content p {
    margin: 10% 0;
} */

